/* Reseteo valores por omisión */
*{
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
}
body{
  font-family: sans-serif;
  background: linear-gradient(to bottom right,black,#222222);
}
/* Barra de navegación */
#logo{
  font-family: Verdana;
  font-size: 30px;
  margin-left: 5px; margin-right: 100px;
  text-decoration: none;
  font-style: normal;
  background-color: white;
  color: #00308F;
  padding: 7px; padding-bottom: 6px;
  border-radius: 25px;
}
div.main-nav{
  top: 0px;
  position: sticky;
  text-align: left;
  background: linear-gradient(to right top,#0a2351,#00308F);
  height: 60px;
}
div.main-nav ul{
  display: flex;
  align-items: center;
  height: 60px;
}
div.main-nav ul li{
  display: inline;
}
div.main-nav ul li a{
  padding-right: 10px; padding-left: 10px;
  font-size: 16px;
  font-weight: bold;
  color: white;
}
div.main-nav ul li a:hover{
  font-style: oblique;
  font-size: 20px;
}
/* Wrapper principal */
div.wrapper{
  padding-left: 5%; padding-right: 5%; padding-top: 20px; padding-bottom: 20px;
  margin-left: 10%; margin-right: 10%;
  background-color: white;
  text-align: center;
}
div.wrapper h2, h3, h4{
  text-align: left;
}
div.wrapper ul, ol{
  text-align: left;
  margin-top: 20px; margin-left: 20px;
}
div.wrapper ol li{
  margin-bottom: 20px;
}
div.wrapper p{
  text-indent: 30px;
  margin-top: 20px; margin-bottom: 40px;
  text-align: left;
}
div.wrapper img{
  width: 50%;
  height: auto;
}
#img-diagrama-clase{
  width:90%;
  height:auto;
  margin-top: 30px; margin-bottom: 30px;
}
div.wrapper table,tr,th,td{
  border: solid 1px black;
  margin-top: 20px; margin-bottom: 20px;
}
div.wrapper td:nth-child(2){
  background-color: yellow;
}
div.wrapper td:nth-child(3){
  background-color: lightblue;
}
